{% extends "bootstrap/base.html" %}
{% block head %}
  {{ super() }}
  <meta charset="utf-8">
{% endblock %}
<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
{% block flasher %}
  {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}"
        role="alert">{{ message }}</div>
       {% endfor %}
      {% endif %}
    {% endwith %}
  {% endblock %}
